body{
background-image: url("../images/fondo.png");
}

.envoltorio_principal{
height: auto;
width: auto;
}
       
header {
height: auto;

color: rgb(3, 3, 3);
text-align: center;
background: rgb(252, 217, 187);
}
  
.titulo_encabezado{
font-family:'Lobster';
font-size: 8vw;
margin: 0px;
}
  
nav ul {
background:rgb(252, 217, 187);
text-align: center;
list-style: none;
overflow: hidden;
}
   
ul li {
display: inline-block;
padding: 20px;
transition: all ease-in-out 250ms;
}
    
ul li:hover {
background:rgb(134, 3, 3);
}
    
ul li a {
color: rgb(2, 2, 2);
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.hide {
font-size: 3vw;
background:rgb(134, 3, 3);
color: white;
cursor: pointer;
display: none;
}
    
@media (max-width: 768px) {
ul li {
width: 100%;
padding: 15px;
text-align: left;
}
    
      .hide {
      padding-left: 20px;
        display: block;
        height: auto;
      }
    
      nav ul {
      display: none;
    }
}
  
.miSlider img{
width: 100%;
max-height: 100vh;
height: inherit;
object-fit: cover;
vertical-align: top;
transition: 2s;
}
  
.barras{
background: rgb(252, 217, 187);
width: 100%;
display: flex;
justify-content: center;
margin-bottom:15px;
}
  
.barra{
cursor: pointer;
height: 5px;
width: 25px;
margin: 0 10px;
background: #473122;
display: inline-block;
margin-left: 3px;
  }
  
.active{
background-color: #d43321;
}
  
.fade{
animation-name: fade;
animation-duration: 1.5s;    
}
  
@keyframes fade {
from {opacity: .4;}
to{opacity:1;}
}
  
.envoltorio_skew{
width: 100%;
height: 350px;
background-image: url(../images/img-2.png);
background-attachment: fixed;
background-position: center;
background-size: cover;
overflow: hidden;
margin-top: 1%;
}

p{
font-size: 18px;
font-family: serif;
color: white;
text-align: justify;
display: block;
}
  
.resena{
margin-right: 30px;
margin-left: 30px;
margin-top: 50px;
  
}
  
.titulo_resena{
font-family: 'Times New Roman', Times, serif;
color: white;
font-size: 5vw;
text-align: center;
}
  
.texto_resena{
height: auto;
display:block;
overflow:auto;
display: flex; 
flex-flow: row wrap;
justify-content: space-around;
}
  
.texto_resena div{
width: 323px;
text-align: center;
margin: 30px;
margin-top: 0px;
flex: auto;
}
  
.envoltorio_canciones{
width: auto;
height: auto;
margin: auto;
}
  
.titulo_canciones{
font-family: 'Times New Roman', Times, serif;
text-align: center;
color: white;
font-size: 25px;
margin-top: 0px;  
}
  
.texto_canciones{ 
font-size: 18px;
text-align: center;
color: white;
} 
  
.envoltorio_video{
display: flex;
height: 700px;
}
      
.video{
margin-left: auto;
margin-right: auto;
max-height: 100%;
}

.galeria_contenedor{
width: 100%;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 33.33%);
grid-template-rows: repeat(2,300px);
margin-top: 2%;
}
  
.galeria_contenedor .galeria_fotos{overflow: hidden;}
  
.galeria_contenedor .galeria_fotos a{
width: 100%;
height: 100%;
}
  
.galeria_contenedor .galeria_fotos a> img{
width: 100%;
height: 100%;
object-fit: cover;
transition: 0.5s;
}
  
.galeria_contenedor .galeria_fotos a> img:hover{
transform: scale(1,1)rotate(15deg);
}

.footer_icons{
  width: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: auto;
  margin-left: auto;
  margin: 20px;
  
}

.footer__container-icons{
  display: inline-block;
  width: 60px;
  height: 60px;
  color: rgb(250, 250, 252);
  text-align: center;
  border: 1px solid rgb(250, 250, 252);
  border-radius: 50%;
}

.footer__icon{
color: rgb(250, 250, 252);
font-size: 30px;
text-decoration: none;

}

.fab.footer__icon{
line-height: 60px;
}